@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');


* {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
